<h1>Golf {{ instance.name }}</h1>

<p>{{ instance.num_groups }} groups of {{ instance.group_size }}</p>

{% if instance.is_closed %}
    <p><b>Closed</b> instance</p>
{% endif %}

<p>Lower bound <b>{{ instance.lower_bound.num_rounds }}</b>: {{ instance.lower_bound.submission_info.citation }}</p>

<p>Upper bound <b>{{ instance.upper_bound.num_rounds }}</b>: {{ instance.upper_bound.submission_info.citation }}</p>

{% if instance.solution %}
    <table border="1">
        {% for round in instance.solution.solution %}
            <tr>
                {% for group in round %}
                    <td>{{ group|join:", " }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Solution not available.</p>
{% endif %}
